{
  "extends": "rackt",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-trailing-spaces": "error",
    "array-bracket-spacing": 0,
    "comma-dangle": 0
  }
}
